image: python:3.8-buster
stages: 
  - build

before_script:
  - python -V
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - make deps

release:
  stage: build
  script:
    - make build
    - make package
    - pip3 install gitlab-release
    - gitlab-release --link-artifact qbittools
  artifacts:
    paths:
      - qbittools
  only:
    - tags
